.home-text {
	font-family: Palatino, serif;
	font-size: 5vw;
	color: navy;
	text-decoration: underline;
	z-index: 1;
	opacity: 1;
	transition: opacity 2s ease-in;
}

.home-overlay {
	position: absolute;
}

// #navbar {
// 	height: 5%;
// }

.home-text:hover {
	cursor: pointer;
}

#lawyer-text {
	top: 10%;
	left: 45%;
}

#maybe-bubble {
	top: 35%;
	left: 53%;
	div {
		position: absolute;
		top: 6vw;
		left: 5vw;
	}
}

#bubble {
	position: absolute;
	height: 25vw;
	width: 28vw;
}

#bg {
	margin: auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	div {
		vertical-align: bottom;
	}
}

#nochin {
	bottom: 0px;
	right: 0px;
}

#chin {
	top: 80%;
	left: 90%;
}

#home-img {
	width: 100%;
}

#flooder {
	z-index: 4;
	// height: 50px;
	// width: 50px;
}

.flood-div {
	// left: -65%;
	// top: -50%;
	// transition: left 3s linear, right 3s linear;
	// transition: height 3s linear, width 3s linear, left 3s linear, right 3s linear;
}

.flood-off {
	height: 0px;
	width: 0px;
	top: 0px;
	left: 0px;
}

.flood-on {
	position: absolute;
	height: 200vw;
	width: 500vw;
	top: -100vw;
	left: -300vw;
	// height: 100px;
	// width: 100px;
	// top: 0px;
	// left: 0px;
	transition: height 3s ease-in, width 3s ease-in, left 3s ease-in, top 3s ease-in;
}
.no-show {
	opacity: 0;
}